*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

}

body{
  background: #2C3333;
  padding-top: 40px;
}
a{
  color: rgb(80, 94, 155);
}
footer{
  background: #191d1d;
  font-family: 'Roboto', sans-serif;
  
  padding: 10px;
  color: #fff;
  
}

